<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
    <div id="app">
        <ul>
            <li v-for="(item, key) in todo"  >
                <a href="https://google.com" @click.prevent="remove(key, $event)">X</a>
                {{ item }}
            </li>
        </ul>
        <div>
            {{ count_items }}
        </div>
        <div>
            <input type="text" v-model="message">
            <button type="button" @click="add">Add</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="day7/js/script.js"></script>
</body>
</html>